# Net Outranking Flow
This module shows an example of how to use the “Net Outranking Flow” module.

## Definition of inputs and problem formalization

In [17]:
import pandas as pd
from modular_parts.flows import calculate_net_outranking_flows
import random

alternatives = pd.Index([f"a{i}" for i in range(1, 10)])
profiles = pd.Index([f"r{i}" for i in range(1, 4)])
basic_outranking_flows = pd.DataFrame({'positive': [round(random.uniform(0, 1), 4) for i in range(1, 10)],
                                       'negative': [round(random.uniform(0, 1), 4) for i in range(1, 10)]},
                                      index=alternatives)

profile_based_inner_indexes = [profiles.append(pd.Index([a])) for a in alternatives]
profile_based_outer_indexes = ('R' + alternatives).to_list()
profile_based_outranking_flows = pd.concat([pd.DataFrame({
    'positive': [round(random.uniform(0, 1), 4) for i in range(1, 5)],
    'negative': [round(random.uniform(0, 1), 4) for i in range(1, 5)]},
    index=idx) for idx in profile_based_inner_indexes], keys=profile_based_outer_indexes)

In [18]:
basic_outranking_flows

    positive  negative
a1    0.9902    0.9552
a2    0.2475    0.4291
a3    0.9405    0.0329
a4    0.5180    0.0369
a5    0.8145    0.3036
a6    0.6651    0.5338
a7    0.1156    0.8752
a8    0.8241    0.4653
a9    0.8243    0.0285

In [19]:
profile_based_outranking_flows

        positive  negative
Ra1 r1    0.0084    0.8627
    r2    0.6432    0.4963
    r3    0.4040    0.4481
    a1    0.6552    0.3143
Ra2 r1    0.8923    0.3582
    r2    0.5852    0.5962
    r3    0.6684    0.0353
    a2    0.3536    0.1305
Ra3 r1    0.6347    0.0396
    r2    0.6355    0.6969
    r3    0.1281    0.7244
    a3    0.4962    0.1999
Ra4 r1    0.9513    0.0003
    r2    0.6515    0.3089
    r3    0.7946    0.3255
    a4    0.9786    0.0848
Ra5 r1    0.8493    0.5284
    r2    0.8126    0.0811
    r3    0.3736    0.9199
    a5    0.8411    0.4588
Ra6 r1    0.0153    0.6737
    r2    0.5087    0.5836
    r3    0.0520    0.0473
    a6    0.1459    0.2702
Ra7 r1    0.3889    0.9374
    r2    0.7671    0.1265
    r3    0.6525    0.2871
    a7    0.2870    0.7175
Ra8 r1    0.8593    0.0936
    r2    0.6950    0.4657
    r3    0.6064    0.0910
    a8    0.2471    0.4587
Ra9 r1    0.8864    0.4155
    r2    0.7368    0.3659
    r3    0.6465    0.1924
    a9    0.7890    0.0435

## Usage of Net flow

### Basic net flows

In [22]:
basic_net_flows = calculate_net_outranking_flows(basic_outranking_flows)
basic_net_flows

a1    0.0350
a2   -0.1816
a3    0.9076
a4    0.4811
a5    0.5109
a6    0.1313
a7   -0.7596
a8    0.3588
a9    0.7958
Name: Net outranking flow, dtype: float64

### Profile-based net flows

In [24]:
profile_based_net_flows = calculate_net_outranking_flows(profile_based_outranking_flows)
profile_based_net_flows

Ra1  r1   -0.8543
     r2    0.1469
     r3   -0.0441
     a1    0.3409
Ra2  r1    0.5341
     r2   -0.0110
     r3    0.6331
     a2    0.2231
Ra3  r1    0.5951
     r2   -0.0614
     r3   -0.5963
     a3    0.2963
Ra4  r1    0.9510
     r2    0.3426
     r3    0.4691
     a4    0.8938
Ra5  r1    0.3209
     r2    0.7315
     r3   -0.5463
     a5    0.3823
Ra6  r1   -0.6584
     r2   -0.0749
     r3    0.0047
     a6   -0.1243
Ra7  r1   -0.5485
     r2    0.6406
     r3    0.3654
     a7   -0.4305
Ra8  r1    0.7657
     r2    0.2293
     r3    0.5154
     a8   -0.2116
Ra9  r1    0.4709
     r2    0.3709
     r3    0.4541
     a9    0.7455
Name: Net outranking flow, dtype: float64

You can also make this function add net flows as a "net" column. This type of output is needed for the FlowSort II method.

In [25]:
profile_based_net_flows_full = calculate_net_outranking_flows(profile_based_outranking_flows, True)
profile_based_net_flows_full

        positive  negative     net
Ra1 r1    0.0084    0.8627 -0.8543
    r2    0.6432    0.4963  0.1469
    r3    0.4040    0.4481 -0.0441
    a1    0.6552    0.3143  0.3409
Ra2 r1    0.8923    0.3582  0.5341
    r2    0.5852    0.5962 -0.0110
    r3    0.6684    0.0353  0.6331
    a2    0.3536    0.1305  0.2231
Ra3 r1    0.6347    0.0396  0.5951
    r2    0.6355    0.6969 -0.0614
    r3    0.1281    0.7244 -0.5963
    a3    0.4962    0.1999  0.2963
Ra4 r1    0.9513    0.0003  0.9510
    r2    0.6515    0.3089  0.3426
    r3    0.7946    0.3255  0.4691
    a4    0.9786    0.0848  0.8938
Ra5 r1    0.8493    0.5284  0.3209
    r2    0.8126    0.0811  0.7315
    r3    0.3736    0.9199 -0.5463
    a5    0.8411    0.4588  0.3823
Ra6 r1    0.0153    0.6737 -0.6584
    r2    0.5087    0.5836 -0.0749
    r3    0.0520    0.0473  0.0047
    a6    0.1459    0.2702 -0.1243
Ra7 r1    0.3889    0.9374 -0.5485
    r2    0.7671    0.1265  0.6406
    r3    0.6525    0.2871  0.3654
    a7    0.2870    0.7175 -0.4305
Ra8 r1    0.8593    0.0936  0.7657
    r2    0.6950    0.4657  0.2293
    r3    0.6064    0.0910  0.5154
    a8    0.2471    0.4587 -0.2116
Ra9 r1    0.8864    0.4155  0.4709
    r2    0.7368    0.3659  0.3709
    r3    0.6465    0.1924  0.4541
    a9    0.7890    0.0435  0.7455