# Promethee Aggregated Flows

This module shows an example of how to use the "Promethee Aggregated Flows" module.

In [1]:
%config Completer.use_jedi = False

## Definition of inputs

In [2]:
import pandas as pd
import sys
sys.path.append('../..')

from modular_parts.flows import calculate_promethee_group_ranking

## Problem formalization

In [3]:
alternatives = ['a1', 'a2', 'a3', 'a4', 'a5', 'a6']
decision_makers = ['DM1', 'DM2', 'DM3', 'DM4']

In [4]:
dms_flows = pd.DataFrame({'DM1': [-0.40, 0.23, 0.06, -0.19, 0.28, 0.02],
                         'DM2': [0.21, 0.10, -0.19, 0.37, -0.21, -0.29],
                         'DM3': [0.28, 0.28, -0.25, -0.05, -0.42, 0.17],
                         'DM4': [-0.16, 0.09, 0.38, -0.20, -0.11, -0.01]}, index=alternatives)
dms_flows

     DM1   DM2   DM3   DM4
a1 -0.40  0.21  0.28 -0.16
a2  0.23  0.10  0.28  0.09
a3  0.06 -0.19 -0.25  0.38
a4 -0.19  0.37 -0.05 -0.20
a5  0.28 -0.21 -0.42 -0.11
a6  0.02 -0.29  0.17 -0.01

In [5]:
dms_weights = pd.Series([1, 2, 1, 3], index=decision_makers)
dms_weights

DM1    1
DM2    2
DM3    1
DM4    3
dtype: int64

## Promethee Aggregated Flows

In [6]:
aggreagted_flows = calculate_promethee_group_ranking(dms_flows, dms_weights)
aggreagted_flows

a1   -0.18
a2    0.98
a3    0.57
a4   -0.10
a5   -0.89
a6   -0.42
Name: aggregated_flows, dtype: float64