# Promethee Reinforced Preference
This module shows an example of how to use the "Promethee Reinforced Preference" module

In [1]:
%config Completer.use_jedi = False

## Definition of inputs and problem formalization

In [2]:
import pandas as pd
from core.enums import Direction, GeneralCriterion
from modular_parts.M4_PrometheeReinforcedPreference import compute_reinforced_preference


alternatives = pd.Index([f"a{i}" for i in range(1, 6)])
criteria = pd.Index([f"g{i}" for i in range(1, 6)])
profiles = pd.Index([f"r{i}" for i in range(1, 4)])
criteria_directions = pd.Series([Direction.MAX, Direction.MAX, Direction.MIN, Direction.MIN, Direction.MAX], index=criteria)
criteria_weights = pd.Series([0.25, 0.2, 0.1, 0.15, 0.3], index=criteria)
generalised_criteria = pd.Series([GeneralCriterion.USUAL,
                        GeneralCriterion.U_SHAPE,
                        GeneralCriterion.LEVEL,
                        GeneralCriterion.V_SHAPE_INDIFFERENCE,
                        GeneralCriterion.GAUSSIAN], index=criteria)
preference_thresholds = pd.Series([None, None, 14, 70, None], index=criteria)
indifference_thresholds = pd.Series([None, 30, 7, 30, None], index=criteria)
standard_deviations = pd.Series([None, None, None, None, 3], index=criteria)


reinforced_preference_thresholds = pd.Series([5, 60, 20, 100, None], index=criteria)
reinforcement_factors = pd.Series([1.1, 1.2, 1.4, 1.2, None], index=criteria)

alternatives_performances = pd.DataFrame([[10, 113, 70, 556, 7],
                                          [12, 153, 49, 447, 8],
                                          [15, 199, 62, 589, 14],
                                          [19, 185, 41, 606, 11],
                                          [14, 146, 55, 495, 8],], index=alternatives, columns=criteria)
profiles_performances = pd.DataFrame([[11, 130, 65, 600, 7],
                                      [14, 150, 55, 525, 9],
                                      [17, 180, 45, 450, 11]], index=profiles, columns=criteria)

## Usage of Promethee Reinforced Preference

### Alternatives vs alternatives preferences

In [3]:
preference_indices, partial_preference_indices = compute_reinforced_preference(alternatives_performances,
                                                                               preference_thresholds,
                                                                               indifference_thresholds,
                                                                               standard_deviations,
                                                                               generalised_criteria,
                                                                               criteria_directions,
                                                                               reinforced_preference_thresholds,
                                                                               reinforcement_factors,
                                                                               criteria_weights)

In [4]:
partial_preference_indices

                   a1        a2     a3        a4        a5
criteria
g1       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.000000  1.000000  0.000  0.000000  1.000000
         a4  1.100000  1.100000  1.000  0.000000  1.000000
         a5  1.000000  1.000000  0.000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.200000  1.000000  0.000  0.000000  1.000000
         a4  1.200000  1.000000  0.000  0.000000  1.000000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.400000  0.000000  0.500  0.000000  0.000000
         a3  0.500000  0.000000  0.000  0.000000  0.000000
         a4  1.400000  0.500000  1.400  0.000000  0.500000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g4       a1  0.000000  0.000000  0.075  0.500000  0.000000
         a2  1.200000  0.000000  1.200  1.200000  0.450000
         a3  0.000000  0.000000  0.000  0.000000  0.000000
         a4  0.000000  0.000000  0.000  0.000000  0.000000
         a5  0.775000  0.000000  1.000  1.200000  0.000000
g5       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  0.054041  0.000000  0.000  0.000000  0.000000
         a3  0.934271  0.864665  0.000  0.393469  0.864665
         a4  0.588888  0.393469  0.000  0.000000  0.393469
         a5  0.054041  0.000000  0.000  0.000000  0.000000

In [5]:
preference_indices

       a1     a2     a3     a4     a5
a1  0.000  0.000  0.011  0.075  0.000
a2  0.735  0.000  0.223  0.175  0.068
a3  0.789  0.709  0.000  0.118  0.709
a4  0.753  0.627  0.375  0.000  0.618
a5  0.682  0.250  0.150  0.175  0.000

### Alternatives vs profiles preferences

In [6]:
preference_indices, partial_preference_indices = compute_reinforced_preference(alternatives_performances,
                                                                               preference_thresholds,
                                                                               indifference_thresholds,
                                                                               standard_deviations,
                                                                               generalised_criteria,
                                                                               criteria_directions,
                                                                               reinforced_preference_thresholds,
                                                                               reinforcement_factors,
                                                                               criteria_weights,
                                                                               profiles_performances)

In [7]:
partial_preference_indices[0]

                   r1        r2        r3
criteria
g1       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  1.000000  1.000000  0.000000
         a4  1.100000  1.000000  1.000000
         a5  1.000000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000000
         a2  0.000000  0.000000  0.000000
         a3  1.200000  1.000000  0.000000
         a4  1.000000  1.000000  0.000000
         a5  0.000000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  1.400000  0.500000  0.000000
         a5  0.500000  0.000000  0.000000
g4       a1  0.350000  0.000000  0.000000
         a2  1.200000  1.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  0.000000  0.000000  0.000000
         a5  1.200000  0.000000  0.000000
g5       a1  0.000000  0.000000  0.000000
         a2  0.054041  0.000000  0.000000
         a3  0.934271  0.750648  0.393469
         a4  0.588888  0.199263  0.000000
         a5  0.054041  0.000000  0.000000

In [8]:
partial_preference_indices[1]

                   a1        a2    a3   a4        a5
criteria
g1       r1  1.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  1.000000  0.00  0.0  0.000000
         r3  1.100000  1.000000  1.00  0.0  1.000000
g2       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.200000  0.000000  0.00  0.0  1.000000
g3       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.400000  0.000000  1.00  0.0  0.500000
g4       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.025000  0.000000  0.85  1.0  0.000000
         r3  1.200000  0.000000  1.20  1.2  0.375000
g5       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.199263  0.054041  0.00  0.0  0.054041
         r3  0.588888  0.393469  0.00  0.0  0.393469

As you can see, some preference relations are reinforced.

In [9]:
preference_indices[0]

       r1     r2     r3
a1  0.052  0.000  0.000
a2  0.530  0.150  0.000
a3  0.741  0.675  0.118
a4  0.743  0.560  0.250
a5  0.482  0.000  0.000

In [10]:
preference_indices[1]

       a1     a2     a3     a4     a5
r1  0.250  0.000  0.000  0.000  0.000
r2  0.614  0.266  0.128  0.150  0.016
r3  0.891  0.368  0.515  0.175  0.674