# Promethee Discordance
This module shows an example of how to use the "Promethee Discordance" module

## Definition of inputs and problem formalization

In [1]:
import pandas as pd
from core.enums import Direction, GeneralCriterion
from modular_parts.preference import compute_preference_indices, compute_discordance

alternatives = ['a1', 'a2', 'a3']
criteria = ['g1', 'g2', 'g3']
criteria_directions = [Direction.MAX, Direction.MAX, Direction.MIN]
criteria_weights = [0.3, 0.2, 0.5]
generalised_criteria = [GeneralCriterion.V_SHAPE_INDIFFERENCE, GeneralCriterion.V_SHAPE_INDIFFERENCE, GeneralCriterion.V_SHAPE_INDIFFERENCE]
preference_thresholds = [20, 2, 300]
indifference_thresholds = [7, 0, 100]
alternatives_performances = [[98,4,400],
                            [58,5,800],
                            [66,1.5,1000]]

criteria_directions = pd.Series(criteria_directions, criteria)
criteria_weights = pd.Series(criteria_weights, criteria)
generalised_criteria = pd.Series(generalised_criteria, criteria)
preference_thresholds = pd.Series(preference_thresholds, criteria)
indifference_thresholds = pd.Series(indifference_thresholds, criteria)

alternatives_performances = pd.DataFrame(data=alternatives_performances, index=alternatives, columns=criteria)

## Promethee Preference

In [2]:
preference_indices, partial_preference_indices = compute_preference_indices(alternatives_performances, preference_thresholds, indifference_thresholds, pd.Series(data=None, index=criteria, dtype='object'), generalised_criteria, criteria_directions, criteria_weights)

partial_preference_indices

              a1        a2   a3
criteria
g1       a1  0.0  1.000000  1.0
         a2  0.0  0.000000  0.0
         a3  0.0  0.076923  0.0
g2       a1  0.0  0.000000  1.0
         a2  0.5  0.000000  1.0
         a3  0.0  0.000000  0.0
g3       a1  0.0  1.000000  1.0
         a2  0.0  0.000000  0.5
         a3  0.0  0.000000  0.0

## Promethee Discordance

### Discordance

In [3]:
tau = 2
discordance, partial_discordance = compute_discordance(criteria, partial_preference_indices, tau)
partial_discordance

        a1   a2        a3
g1 a1  0.0  0.0  0.000000
   a2  1.0  0.0  0.076923
   a3  1.0  0.0  0.000000
g2 a1  0.0  0.5  0.000000
   a2  0.0  0.0  0.000000
   a3  1.0  1.0  0.000000
g3 a1  0.0  0.0  0.000000
   a2  1.0  0.0  0.000000
   a3  1.0  0.5  0.000000

In [4]:
discordance

     a1    a2     a3
a1  0.0  0.37  0.000
a2  1.0  0.00  0.052
a3  1.0  1.00  0.000

### Overall Preference

In [5]:
preference_indices

     a1     a2    a3
a1  0.0  0.800  1.00
a2  0.1  0.000  0.45
a3  0.0  0.023  0.00

In [6]:
_, _, overall_preference = compute_discordance(criteria, partial_preference_indices, tau, preferences=preference_indices)
overall_preference

     a1     a2     a3
a1  0.0  0.504  1.000
a2  0.0  0.000  0.427
a3  0.0  0.000  0.000