# Promethee Preference With Interactions
This module shows an example of how to use the "Promethee Preference With Interactions" module

## Definition of inputs and problem formalization

In [5]:
import pandas as pd
from core.enums import Direction, GeneralCriterion, InteractionType
from modular_parts.preference import compute_preference_indices_with_interactions


alternatives = pd.Index([f"a{i}" for i in range(1, 6)])
criteria = pd.Index([f"g{i}" for i in range(1, 6)])
profiles = pd.Index([f"r{i}" for i in range(1, 4)])
criteria_directions = pd.Series([Direction.MAX, Direction.MAX, Direction.MIN, Direction.MIN, Direction.MAX], index=criteria)
criteria_weights = pd.Series([0.25, 0.2, 0.1, 0.15, 0.3], index=criteria)
generalised_criteria = pd.Series([GeneralCriterion.USUAL,
                        GeneralCriterion.U_SHAPE,
                        GeneralCriterion.LEVEL,
                        GeneralCriterion.V_SHAPE_INDIFFERENCE,
                        GeneralCriterion.GAUSSIAN], index=criteria)
preference_thresholds = pd.Series([None, None, 14, 70, None], index=criteria)
indifference_thresholds = pd.Series([None, 30, 7, 30, None], index=criteria)
standard_deviations = pd.Series([None, None, None, None, 3], index=criteria)

interactions = pd.DataFrame(data=[['g1','g4', InteractionType.STN, 0.15],
                                  ['g2','g3', InteractionType.WKN, -0.12],
                                  ['g2','g1', InteractionType.ANT, 0.25]],
                        columns=['criterion_1', 'criterion_2', 'type', 'coefficient'])

alternatives_performances = pd.DataFrame([[10, 113, 70, 556, 7],
                                          [12, 153, 49, 447, 8],
                                          [15, 199, 62, 589, 14],
                                          [19, 185, 41, 606, 11],
                                          [14, 146, 55, 495, 8],], index=alternatives, columns=criteria)
profiles_performances = pd.DataFrame([[11, 130, 65, 600, 7],
                                      [14, 150, 55, 525, 9],
                                      [17, 180, 45, 450, 11]], index=profiles, columns=criteria)

# Usage of Promethee Preference With Interactions

Take a look at Promethee's "basic" preferences to see the differences.

### Alternatives vs alternatives preferences

In [6]:
preference_indices, partial_preference_indices = compute_preference_indices_with_interactions(alternatives_performances,
                                                                                              criteria_weights,
                                                                                              preference_thresholds,
                                                                                              indifference_thresholds,
                                                                                              standard_deviations,
                                                                                              generalised_criteria,
                                                                                              criteria_directions,
                                                                                              interactions)

In [7]:
partial_preference_indices

                   a1        a2     a3        a4        a5
criteria
g1       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.000000  1.000000  0.000  0.000000  1.000000
         a4  1.000000  1.000000  1.000  0.000000  1.000000
         a5  1.000000  1.000000  0.000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.000000  1.000000  0.000  0.000000  1.000000
         a4  1.000000  1.000000  0.000  0.000000  1.000000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.500  0.000000  0.000000
         a3  0.500000  0.000000  0.000  0.000000  0.000000
         a4  1.000000  0.500000  1.000  0.000000  0.500000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g4       a1  0.000000  0.000000  0.075  0.500000  0.000000
         a2  1.000000  0.000000  1.000  1.000000  0.450000
         a3  0.000000  0.000000  0.000  0.000000  0.000000
         a4  0.000000  0.000000  0.000  0.000000  0.000000
         a5  0.775000  0.000000  1.000  1.000000  0.000000
g5       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  0.054041  0.000000  0.000  0.000000  0.000000
         a3  0.934271  0.864665  0.000  0.393469  0.864665
         a4  0.588888  0.393469  0.000  0.000000  0.393469
         a5  0.054041  0.000000  0.000  0.000000  0.000000

In [8]:
preference_indices

       a1     a2     a3     a4     a5
a1  0.000  0.000  0.011  0.075  0.000
a2  0.724  0.000  0.200  0.150  0.068
a3  0.766  0.709  0.000  0.118  0.709
a4  0.689  0.594  0.350  0.000  0.594
a5  0.681  0.250  0.150  0.150  0.000

### Alternatives vs profiles preferences

In [9]:
preference_indices, partial_preference_indices = compute_preference_indices_with_interactions(alternatives_performances,
                                                                                              criteria_weights,
                                                                                              preference_thresholds,
                                                                                              indifference_thresholds,
                                                                                              standard_deviations,
                                                                                              generalised_criteria,
                                                                                              criteria_directions,
                                                                                              interactions,
                                                                                              profiles_performances)

In [10]:
partial_preference_indices[0]

                   r1        r2        r3
criteria
g1       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  1.000000  1.000000  0.000000
         a4  1.000000  1.000000  1.000000
         a5  1.000000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000000
         a2  0.000000  0.000000  0.000000
         a3  1.000000  1.000000  0.000000
         a4  1.000000  1.000000  0.000000
         a5  0.000000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  1.000000  0.500000  0.000000
         a5  0.500000  0.000000  0.000000
g4       a1  0.350000  0.000000  0.000000
         a2  1.000000  1.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  0.000000  0.000000  0.000000
         a5  1.000000  0.000000  0.000000
g5       a1  0.000000  0.000000  0.000000
         a2  0.054041  0.000000  0.000000
         a3  0.934271  0.750648  0.393469
         a4  0.588888  0.199263  0.000000
         a5  0.054041  0.000000  0.000000

In [11]:
partial_preference_indices[1]

                   a1        a2    a3   a4        a5
criteria
g1       r1  1.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  1.000000  0.00  0.0  0.000000
         r3  1.000000  1.000000  1.00  0.0  1.000000
g2       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.000000  0.000000  0.00  0.0  1.000000
g3       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.000000  0.000000  1.00  0.0  0.500000
g4       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.025000  0.000000  0.85  1.0  0.000000
         r3  1.000000  0.000000  1.00  1.0  0.375000
g5       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.199263  0.054041  0.00  0.0  0.054041
         r3  0.588888  0.393469  0.00  0.0  0.393469

In [12]:
preference_indices[0]

       r1     r2     r3
a1  0.052  0.000  0.000
a2  0.579  0.150  0.000
a3  0.640  0.567  0.118
a4  0.566  0.362  0.250
a5  0.536  0.000  0.000

In [13]:
preference_indices[1]

       a1     a2     a3    a4     a5
r1  0.250  0.000  0.000  0.00  0.000
r2  0.390  0.266  0.128  0.15  0.016
r3  0.842  0.368  0.565  0.15  0.564