In [1]:
import pandas as pd
from core.enums import Direction, GeneralCriterion, InteractionType
from modular_parts.preference import compute_preference_indices_with_interactions

alternatives = ['a1', 'a2', 'a3']
criteria = ['g1', 'g2', 'g3']
criteria_directions = [Direction.MAX, Direction.MAX, Direction.MIN]
criteria_weights = [0.3, 0.2, 0.5]
generalised_criteria = [GeneralCriterion.V_SHAPE_INDIFFERENCE, GeneralCriterion.V_SHAPE_INDIFFERENCE, GeneralCriterion.V_SHAPE_INDIFFERENCE]
preference_thresholds = [20, 2, 300]
indifference_thresholds = [7, 0, 100]
alternatives_performances = [[98,4,400],
                            [58,5,800],
                            [66,1.5,1000]]

criteria_directions = pd.Series(criteria_directions, criteria)
criteria_weights = pd.Series(criteria_weights, criteria)
generalised_criteria = pd.Series(generalised_criteria, criteria)
preference_thresholds = pd.Series(preference_thresholds, criteria)
indifference_thresholds = pd.Series(indifference_thresholds, criteria)
interactions = pd.DataFrame(data=[['g1','g3', InteractionType.STN, 0.15],
                                  ['g2','g3', InteractionType.WKN, -0.12],
                                  ['g2','g1', InteractionType.ANT, 0.05]],
                        columns=['criterion_1', 'criterion_2', 'type', 'coefficient'])
alternatives_performances = pd.DataFrame(data=alternatives_performances, index=alternatives, columns=criteria)
alternatives_performances

    g1   g2    g3
a1  98  4.0   400
a2  58  5.0   800
a3  66  1.5  1000

In [2]:
interactions

  criterion_1 criterion_2                 type  coefficient
0          g1          g3  InteractionType.STN         0.15
1          g2          g3  InteractionType.WKN        -0.12
2          g2          g1  InteractionType.ANT         0.05

In [3]:
alternatives_performances
preference_indices, partial_preference_indices = compute_preference_indices_with_interactions(alternatives_performances,criteria_weights, preference_thresholds,indifference_thresholds, pd.Series(data=None, index=criteria, dtype='object'), generalised_criteria, criteria_directions, interactions)

partial_preference_indices

              a1        a2   a3
criteria
g1       a1  0.0  1.000000  1.0
         a2  0.0  0.000000  0.0
         a3  0.0  0.076923  0.0
g2       a1  0.0  0.000000  1.0
         a2  0.5  0.000000  1.0
         a3  0.0  0.000000  0.0
g3       a1  0.0  1.000000  1.0
         a2  0.0  0.000000  0.5
         a3  0.0  0.000000  0.0

In [4]:
preference_indices

       a1     a2     a3
a1  0.000  0.826  1.000
a2  0.077  0.000  0.412
a3  0.000  0.023  0.000