# Promethee Discordance
This module shows an example of how to use the "Promethee Discordance" module

## Definition of inputs and problem formalization

In [15]:
import pandas as pd
from core.enums import Direction, GeneralCriterion
from modular_parts.preference import compute_preference_indices, compute_discordance

alternatives = pd.Index([f"a{i}" for i in range(1, 6)])
criteria = pd.Index([f"g{i}" for i in range(1, 6)])
profiles = pd.Index([f"r{i}" for i in range(1, 4)])
criteria_directions = pd.Series([Direction.MAX, Direction.MAX, Direction.MIN, Direction.MIN, Direction.MAX], index=criteria)
criteria_weights = pd.Series([0.25, 0.2, 0.1, 0.15, 0.3], index=criteria)
generalised_criteria = pd.Series([GeneralCriterion.USUAL,
                        GeneralCriterion.U_SHAPE,
                        GeneralCriterion.LEVEL,
                        GeneralCriterion.V_SHAPE_INDIFFERENCE,
                        GeneralCriterion.GAUSSIAN], index=criteria)
preference_thresholds = pd.Series([None, None, 14, 70, None], index=criteria)
indifference_thresholds = pd.Series([None, 30, 7, 30, None], index=criteria)
standard_deviations = pd.Series([None, None, None, None, 3], index=criteria)

tau = 2

alternatives_performances = pd.DataFrame([[10, 113, 70, 556, 7],
                                          [12, 153, 49, 447, 8],
                                          [15, 199, 62, 589, 14],
                                          [19, 185, 41, 606, 11],
                                          [14, 146, 55, 495, 8],], index=alternatives, columns=criteria)
profiles_performances = pd.DataFrame([[11, 130, 65, 600, 7],
                                      [14, 150, 55, 525, 9],
                                      [17, 180, 45, 450, 11]], index=profiles, columns=criteria)

## Required preferences

### Alternatives vs alternatives preferences

In [16]:
aa_preference_indices, aa_partial_preference_indices = compute_preference_indices(alternatives_performances,
                                                                                  preference_thresholds,
                                                                                  indifference_thresholds,
                                                                                  standard_deviations,
                                                                                  generalised_criteria,
                                                                                  criteria_directions,
                                                                                  criteria_weights)

In [17]:
aa_partial_preference_indices

                   a1        a2     a3        a4        a5
criteria
g1       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.000000  1.000000  0.000  0.000000  1.000000
         a4  1.000000  1.000000  1.000  0.000000  1.000000
         a5  1.000000  1.000000  0.000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.000  0.000000  0.000000
         a3  1.000000  1.000000  0.000  0.000000  1.000000
         a4  1.000000  1.000000  0.000  0.000000  1.000000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  1.000000  0.000000  0.500  0.000000  0.000000
         a3  0.500000  0.000000  0.000  0.000000  0.000000
         a4  1.000000  0.500000  1.000  0.000000  0.500000
         a5  1.000000  0.000000  0.000  0.000000  0.000000
g4       a1  0.000000  0.000000  0.075  0.500000  0.000000
         a2  1.000000  0.000000  1.000  1.000000  0.450000
         a3  0.000000  0.000000  0.000  0.000000  0.000000
         a4  0.000000  0.000000  0.000  0.000000  0.000000
         a5  0.775000  0.000000  1.000  1.000000  0.000000
g5       a1  0.000000  0.000000  0.000  0.000000  0.000000
         a2  0.054041  0.000000  0.000  0.000000  0.000000
         a3  0.934271  0.864665  0.000  0.393469  0.864665
         a4  0.588888  0.393469  0.000  0.000000  0.393469
         a5  0.054041  0.000000  0.000  0.000000  0.000000

In [18]:
aa_preference_indices

       a1     a2     a3     a4     a5
a1  0.000  0.000  0.011  0.075  0.000
a2  0.716  0.000  0.200  0.150  0.068
a3  0.780  0.709  0.000  0.118  0.709
a4  0.727  0.618  0.350  0.000  0.618
a5  0.682  0.250  0.150  0.150  0.000

### Alternatives vs profiles preferences

In [19]:
ap_preference_indices, ap_partial_preference_indices = compute_preference_indices(alternatives_performances,
                                                                                  preference_thresholds,
                                                                                  indifference_thresholds,
                                                                                  standard_deviations,
                                                                                  generalised_criteria,
                                                                                  criteria_directions,
                                                                                  criteria_weights,
                                                                                  profiles_performances)

In [20]:
ap_partial_preference_indices[0]

                   r1        r2        r3
criteria
g1       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  1.000000  1.000000  0.000000
         a4  1.000000  1.000000  1.000000
         a5  1.000000  0.000000  0.000000
g2       a1  0.000000  0.000000  0.000000
         a2  0.000000  0.000000  0.000000
         a3  1.000000  1.000000  0.000000
         a4  1.000000  1.000000  0.000000
         a5  0.000000  0.000000  0.000000
g3       a1  0.000000  0.000000  0.000000
         a2  1.000000  0.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  1.000000  0.500000  0.000000
         a5  0.500000  0.000000  0.000000
g4       a1  0.350000  0.000000  0.000000
         a2  1.000000  1.000000  0.000000
         a3  0.000000  0.000000  0.000000
         a4  0.000000  0.000000  0.000000
         a5  1.000000  0.000000  0.000000
g5       a1  0.000000  0.000000  0.000000
         a2  0.054041  0.000000  0.000000
         a3  0.934271  0.750648  0.393469
         a4  0.588888  0.199263  0.000000
         a5  0.054041  0.000000  0.000000

In [22]:
ap_partial_preference_indices[1]

                   a1        a2    a3   a4        a5
criteria
g1       r1  1.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  1.000000  0.00  0.0  0.000000
         r3  1.000000  1.000000  1.00  0.0  1.000000
g2       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.000000  0.000000  0.00  0.0  1.000000
g3       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  1.000000  0.000000  0.00  0.0  0.000000
         r3  1.000000  0.000000  1.00  0.0  0.500000
g4       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.025000  0.000000  0.85  1.0  0.000000
         r3  1.000000  0.000000  1.00  1.0  0.375000
g5       r1  0.000000  0.000000  0.00  0.0  0.000000
         r2  0.199263  0.054041  0.00  0.0  0.054041
         r3  0.588888  0.393469  0.00  0.0  0.393469

In [23]:
ap_preference_indices[0]

       r1     r2     r3
a1  0.052  0.000  0.000
a2  0.516  0.150  0.000
a3  0.730  0.675  0.118
a4  0.727  0.560  0.250
a5  0.466  0.000  0.000

In [24]:
ap_preference_indices[1]

       a1     a2     a3    a4     a5
r1  0.250  0.000  0.000  0.00  0.000
r2  0.614  0.266  0.128  0.15  0.016
r3  0.877  0.368  0.500  0.15  0.674

## Usage of Promethee Discordance

### Alternatives vs alternatives preferences

#### Discordance only

In [26]:
aa_discordance, aa_partial_discordance = compute_discordance(criteria, aa_partial_preference_indices, tau)

In [27]:
aa_partial_discordance

          a1        a2        a3        a4        a5
g1 a1  0.000  1.000000  1.000000  1.000000  1.000000
   a2  0.000  0.000000  1.000000  1.000000  1.000000
   a3  0.000  0.000000  0.000000  1.000000  0.000000
   a4  0.000  0.000000  0.000000  0.000000  0.000000
   a5  0.000  0.000000  1.000000  1.000000  0.000000
g2 a1  0.000  1.000000  1.000000  1.000000  1.000000
   a2  0.000  0.000000  1.000000  1.000000  0.000000
   a3  0.000  0.000000  0.000000  0.000000  0.000000
   a4  0.000  0.000000  0.000000  0.000000  0.000000
   a5  0.000  0.000000  1.000000  1.000000  0.000000
g3 a1  0.000  1.000000  0.500000  1.000000  1.000000
   a2  0.000  0.000000  0.000000  0.500000  0.000000
   a3  0.000  0.500000  0.000000  1.000000  0.000000
   a4  0.000  0.000000  0.000000  0.000000  0.000000
   a5  0.000  0.000000  0.000000  0.500000  0.000000
g4 a1  0.000  1.000000  0.000000  0.000000  0.775000
   a2  0.000  0.000000  0.000000  0.000000  0.000000
   a3  0.075  1.000000  0.000000  0.000000  1.000000
   a4  0.500  1.000000  0.000000  0.000000  1.000000
   a5  0.000  0.450000  0.000000  0.000000  0.000000
g5 a1  0.000  0.054041  0.934271  0.588888  0.054041
   a2  0.000  0.000000  0.864665  0.393469  0.000000
   a3  0.000  0.000000  0.000000  0.000000  0.000000
   a4  0.000  0.000000  0.393469  0.000000  0.000000
   a5  0.000  0.000000  0.864665  0.393469  0.000000

In [28]:
aa_discordance

       a1     a2     a3   a4   a5
a1  0.000  1.000  1.000  1.0  1.0
a2  0.000  0.000  1.000  1.0  1.0
a3  0.031  1.000  0.000  1.0  1.0
a4  0.242  1.000  0.181  0.0  1.0
a5  0.000  0.213  1.000  1.0  0.0

#### Discordance applied on preferences

In [32]:
aa_discordance, aa_partial_discordance, aa_final_preferences = compute_discordance(criteria,
                                                                                   aa_partial_preference_indices,
                                                                                   tau,
                                                                                   preferences=aa_preference_indices)

In [33]:
aa_final_preferences

       a1     a2     a3   a4   a5
a1  0.000  0.000  0.000  0.0  0.0
a2  0.716  0.000  0.000  0.0  0.0
a3  0.756  0.000  0.000  0.0  0.0
a4  0.551  0.000  0.287  0.0  0.0
a5  0.682  0.197  0.000  0.0  0.0

### Alternatives vs profiles preferences

#### Discordance only

In [35]:
ap_discordance, ap_partial_discordance = compute_discordance(criteria,
                                                             ap_partial_preference_indices,
                                                             tau,
                                                             were_categories_profiles=True)

In [37]:
ap_partial_discordance[0]

        r1        r2        r3
g1 a1  1.0  1.000000  1.000000
   a2  0.0  1.000000  1.000000
   a3  0.0  0.000000  1.000000
   a4  0.0  0.000000  0.000000
   a5  0.0  0.000000  1.000000
g2 a1  0.0  1.000000  1.000000
   a2  0.0  0.000000  0.000000
   a3  0.0  0.000000  0.000000
   a4  0.0  0.000000  0.000000
   a5  0.0  0.000000  1.000000
g3 a1  0.0  1.000000  1.000000
   a2  0.0  0.000000  0.000000
   a3  0.0  0.000000  1.000000
   a4  0.0  0.000000  0.000000
   a5  0.0  0.000000  0.500000
g4 a1  0.0  0.025000  1.000000
   a2  0.0  0.000000  0.000000
   a3  0.0  0.850000  1.000000
   a4  0.0  1.000000  1.000000
   a5  0.0  0.000000  0.375000
g5 a1  0.0  0.199263  0.588888
   a2  0.0  0.054041  0.393469
   a3  0.0  0.000000  0.000000
   a4  0.0  0.000000  0.000000
   a5  0.0  0.054041  0.393469

In [38]:
ap_partial_discordance[1]

         a1        a2        a3        a4        a5
g1 r1  0.00  1.000000  1.000000  1.000000  1.000000
   r2  0.00  0.000000  1.000000  1.000000  0.000000
   r3  0.00  0.000000  0.000000  1.000000  0.000000
g2 r1  0.00  0.000000  1.000000  1.000000  0.000000
   r2  0.00  0.000000  1.000000  1.000000  0.000000
   r3  0.00  0.000000  0.000000  0.000000  0.000000
g3 r1  0.00  1.000000  0.000000  1.000000  0.500000
   r2  0.00  0.000000  0.000000  0.500000  0.000000
   r3  0.00  0.000000  0.000000  0.000000  0.000000
g4 r1  0.35  1.000000  0.000000  0.000000  1.000000
   r2  0.00  1.000000  0.000000  0.000000  0.000000
   r3  0.00  0.000000  0.000000  0.000000  0.000000
g5 r1  0.00  0.054041  0.934271  0.588888  0.054041
   r2  0.00  0.000000  0.750648  0.199263  0.000000
   r3  0.00  0.000000  0.393469  0.000000  0.000000

In [39]:
ap_discordance[0]

     r1     r2   r3
a1  1.0  1.000  1.0
a2  0.0  1.000  1.0
a3  0.0  0.532  1.0
a4  0.0  1.000  1.0
a5  0.0  0.022  1.0

In [40]:
ap_discordance[1]

       a1   a2     a3   a4   a5
r1  0.158  1.0  1.000  1.0  1.0
r2  0.000  1.0  1.000  1.0  0.0
r3  0.000  0.0  0.181  1.0  0.0

#### Discordance applied on preferences

In [41]:
ap_discordance, ap_partial_discordance, ap_final_preferences = compute_discordance(criteria,
                                                                                   ap_partial_preference_indices,
                                                                                   tau,
                                                                                   preferences=ap_preference_indices,
                                                                                   were_categories_profiles=True)

In [42]:
ap_final_preferences[0]

       r1     r2   r3
a1  0.000  0.000  0.0
a2  0.516  0.000  0.0
a3  0.730  0.316  0.0
a4  0.727  0.000  0.0
a5  0.466  0.000  0.0

In [43]:
ap_final_preferences[1]

       a1     a2    a3   a4     a5
r1  0.210  0.000  0.00  0.0  0.000
r2  0.614  0.000  0.00  0.0  0.016
r3  0.877  0.368  0.41  0.0  0.674