# Flow Sort I

This module shows an example of how to use the "Flow Sort I" module.

In [1]:
%config Completer.use_jedi = False

## Definition of inputs

In [2]:
import pandas as pd
import sys
sys.path.append('../..')

from core.enums import CompareProfiles, Direction
from modular_parts.sorting import calculate_flowsortI_sorted_alternatives

## Problem formalization

In [3]:
categories = [f"C{i}" for i in range(1, 5)]
profiles = [f"r{i}" for i in range(1, 6)]
criteria = [f"g{i}" for i in range(1, 6)]
alternatives = [f"a{i}" for i in range(1, 4)]

In [4]:
category_profiles_performances = pd.DataFrame([[0, 0, 0, 0, 0], [25, 25, 25, 25, 25], [50, 50, 50, 50, 50],
                                               [75, 75, 75, 75, 75], [100, 100, 100, 100, 100]],
                                               index=profiles, columns=criteria)
category_profiles_performances

     g1   g2   g3   g4   g5
r1    0    0    0    0    0
r2   25   25   25   25   25
r3   50   50   50   50   50
r4   75   75   75   75   75
r5  100  100  100  100  100

In [5]:
criteria_directions = pd.Series([Direction.MAX, Direction.MAX, Direction.MAX, Direction.MAX, Direction.MAX], index=criteria)
criteria_directions

g1    Direction.MAX
g2    Direction.MAX
g3    Direction.MAX
g4    Direction.MAX
g5    Direction.MAX
dtype: object

In [6]:
alternatives_flows = pd.DataFrame({'positive': [0.48, 0.20, 0.40], 'negative': [0.52, 0.80, 0.40]}, index=alternatives)
alternatives_flows

    positive  negative
a1      0.48      0.52
a2      0.20      0.80
a3      0.40      0.40

In [7]:
category_profiles_flows = pd.DataFrame({'positive': [0.0, 0.4, 0.6, 0.866667, 1.0],
                                        'negative': [1.0, 0.466667, 0.333333, 0.0, 0.0]}, index=profiles)
category_profiles_flows

    positive  negative
r1  0.000000  1.000000
r2  0.400000  0.466667
r3  0.600000  0.333333
r4  0.866667  0.000000
r5  1.000000  0.000000

## Flow Sort I

In [8]:
flow_sort1 = calculate_flowsortI_sorted_alternatives(categories, category_profiles_performances,
                                                     criteria_directions, alternatives_flows,
                                                     category_profiles_flows, CompareProfiles.LIMITING_PROFILES)
flow_sort1

   worse better
a1    C1     C2
a2    C1     C1
a3    C1     C2