# Prom Sort

This module shows an example of how to use the "Prom Sort" module.

In [1]:
%config Completer.use_jedi = False

## Definition of inputs

In [2]:
import pandas as pd
import sys
sys.path.append('../..')

from modular_parts.sorting import calculate_promsort_sorted_alternatives
from core.enums import Direction

## Problem formalization

In [3]:
categories = [f"C{i}" for i in range(1, 5)]
alternatives = [f"a{i}" for i in range(1, 13)]
profiles = [f"r{i}" for i in range(1, 4)]
criteria = [f"g{i}" for i in range(1, 6)]

In [4]:
alternatives_flows = pd.DataFrame({'positive': [0.557053009883198, 0.439676427229803, 0.441898772087451, 0.14240790655885,
                                                0.583432042683531, 0.383647798742138, 0.400119796346211, 0.68331224633732,
                                                0.40251572327044, 0.0471698113207547, 0.188679245283019, 0.739916019922226],
                                   'negative': [0.144953578915843, 0.30398322851153, 0.289308176100629, 0.584007187780773,
                                                0.251572327044025, 0.399221323748186, 0.30188679245283, 0.0640910452231207,
                                                0.352688997142961, 0.768693354515415, 0.632973944293259, 0.0]}, 
                                  index=alternatives)
alternatives_flows

     positive  negative
a1   0.557053  0.144954
a2   0.439676  0.303983
a3   0.441899  0.289308
a4   0.142408  0.584007
a5   0.583432  0.251572
a6   0.383648  0.399221
a7   0.400120  0.301887
a8   0.683312  0.064091
a9   0.402516  0.352689
a10  0.047170  0.768693
a11  0.188679  0.632974
a12  0.739916  0.000000

In [5]:
category_profiles_flows = pd.DataFrame({'positive': [0.0999772141492737, 0.340708295896975, 0.582659478885894],
                                        'negative': [0.721660676849356, 0.452530697813716, 0.078265825253163]}, index=profiles)
category_profiles_flows

    positive  negative
r1  0.099977  0.721661
r2  0.340708  0.452531
r3  0.582659  0.078266

In [6]:
criteria_thresholds = pd.Series([0, 0, 0, 0, 0.5], index=criteria)
criteria_thresholds

g1    0.0
g2    0.0
g3    0.0
g4    0.0
g5    0.5
dtype: float64

In [7]:
category_profiles_performances = pd.DataFrame([[65, 70, 25, 25, 65], [80, 80, 18, 15, 75], [90, 90, 8, 7, 90]],
                                             index=profiles, columns=criteria)
category_profiles_performances

    g1  g2  g3  g4  g5
r1  65  70  25  25  65
r2  80  80  18  15  75
r3  90  90   8   7  90

In [8]:
criteria_directions = pd.Series([Direction.MAX, Direction.MAX, Direction.MIN, Direction.MIN, Direction.MAX], index=criteria)
criteria_directions

g1    Direction.MAX
g2    Direction.MAX
g3    Direction.MIN
g4    Direction.MIN
g5    Direction.MAX
dtype: object

## Prom Sort

In [9]:
actual_first_assigments, actual_final_assigments = \
        calculate_promsort_sorted_alternatives(categories, alternatives_flows, category_profiles_flows, criteria_thresholds,
                                               category_profiles_performances, criteria_directions, 0, True)

actual_first_assigments

    worse better
a1     C3     C3
a2     C3     C3
a3     C3     C3
a4     C2     C2
a5     C3     C3
a6     C3     C3
a7     C3     C3
a8     C4     C4
a9     C3     C3
a10    C1     C1
a11    C2     C2
a12    C4     C4

In [10]:
actual_final_assigments

a1     C3
a2     C3
a3     C3
a4     C2
a5     C3
a6     C3
a7     C3
a8     C4
a9     C3
a10    C1
a11    C2
a12    C4
dtype: object